<p>Hi <%= @owner.fname.capitalize %>,</p>

<p>We're excited to introduce you to <%= @applicant.fname.capitalize %>, who
is interested in applying to your opportunity, <%= @opp_title %>.</p>

<p>We'll let you take it from here.</p>

<p>Cheers,<br>
The Bridgekin Team</p>
