<p>Hi Joe,</p>

<p>Someone has requested a demo for the <%= @request.demo_type %> product:</p>

<p>First Name: <%= @request.fname.capitalize %> <br>
Last Name: <%= @request.lname.capitalize %> <br>
Email: <%= @request.email %></p>

<p>Cheers,<br>
The Bridgekin Team (A.K.A. Frosty Crew)</p>
