<p>Hi Joe,</p>

<p>A new opportunity has been created by <%= @user.fname.capitalize %> <%= @user.lname.capitalize %>.</p>

<p>What are you waiting for? Go approve it!</p>

<p>Cheers,<br>
The Bridgekin Team (A.K.A. Frosty Crew)</p>
