<p>Hi <%= @user.fname.capitalize %>,</p>

<p>Your contacts have shared <%=@opps_count%> opportunities with you in the past <%=@wording%>.
  You can see what they’ve shared with you <a href='https://bridgekin.com/findandconnect'>here</a>.</p>

<p>Cheers,<br>
The Bridgekin Team</p>

<p style="font-size:9px;">If you’d like to adjust your email notification
  settings you can do so <a href='https://bridgekin.com/account/settings/notifications'>here</a>.
  It’s important to use that we only ask for your attention when we have
  value to deliver.</>
