<p>Hi <%= @requestor.fname.capitalize %>,</p>

<p>We've reached out to <%= @recipient.fname.capitalize %> about their contact <%= @contact.fname.capitalize %>, but indicated that he doesn't know <%= @contact.fname.capitalize %> well enough to comfortably reach out.</p>

<p>Cheers,<br>
The Bridgekin Team</p>