<p>Hi <%= @requestor.fname.capitalize %>,</p>

<p><%= @recipient.fname.capitalize %> indicated that they don’t know <%= @contact.fname.capitalize %> <%= @contact.lname.capitalize %> well enough to reach out.</p>

<p>Cheers,<br>
The Bridgekin Team</p>