<p>Hi <%= @current_user.fname.capitalize %>,</p>

<p>We've just finished importing your contacts. You can visit your dashboard <%= link_to 'here.', "#{root_url}sales/dashboard" %></p>

<p>Cheers,<br>
The Bridgekin Team</p>
