<p>Hi <%= @requestor.fname.capitalize %>,</p>

<p>We've reached out to <%= @recipient.fname.capitalize %> about their contact <%= @contact.fname.capitalize %>, but declined because:<br><br>
Reason: <%= @reason || "" %></p>

<p>Cheers,<br>
The Bridgekin Team</p>