<p>Hi <%= @current_user.fname.capitalize %>,</p>

<p>We weren't able to charge your card on file. Please update your billing information. Note* Failure to update billing will result in interruption of service.</p>

<p>If you have any questions, comments or concerns. please reach out to us at admin@bridgekin.com.</p>

<p>Cheers,<br>
The Bridgekin Team</p>
