<p>Hi <%= @current_user.fname.capitalize %>,</p>

<p>We weren't able to charge your card on file. Please contact us at admin@bridgekin.com to continue your service.</p>

<p>Cheers,<br>
The Bridgekin Team</p>
