<p>Hi <%= @owner.fname.capitalize %>,</p>

<p>We're reaching out because <%= @facilitator.fname.capitalize %> knows someonone
  who would be perfect for your opportunity, "<%= @opportunity.title%>."</p>

<p>This email serves to introduce you two and allow <%= @facilitator.fname.capitalize %>
  to put you in contact with whomever they've got in mind.</p>

<p>The next step is up to you two!</p>

<p>Cheers,<br>
The Bridgekin Team</p>
