<p>Hi <%= @owner.fname.capitalize %>,</p>

<p>We're reaching out because <%= @user.fname.capitalize %> is interested
  in connecting with you about your opportunity, "<%= @opportunity.title%>."</p>

<p>This email serves as the first step to understanding whether this opportunity
  is the right move for everyone.</p>

<p>The next step is up to you two!</p>

<p>Cheers,<br>
The Bridgekin Team</p>
