<p>Hi <%= @owner.fname.capitalize %>,</p>

<p>We’re excited to introduce you to <%= @user.fname.capitalize %> <%= @user.lname.capitalize %>,
  who is interested in connecting with you about your opportunity: <%= @opportunity.title%>.</p>

<p>It would probably be best for you two to jump on an quick phone call
  to get to know each-other and discuss this opportunity further.
  We’ll let you both take it from here!</p>

<p>Cheers,<br>
The Bridgekin Team</p>
