<p>Hi <%= @resource.fname.capitalize %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>We’re contacting you to let you know your email on file is being changed to <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>We’re contacting you to let you know your email on file has been successfully changed to <%= @resource.email %>.</p>
<% end %>

<p>Have a great day!</p>

<p>Cheers,<br>
The Bridgekin Team</p>
