<p>Hi <%= @resource.fname.capitalize %>!</p>

<p>Thanks for requesting to change your password. In order to do so please
  click on the link below and you’ll be promoted to enter a new password.</p>

<p><%= link_to 'Change my password', "#{root_url}passwordupdate/#{@resource.reset_password_token}" %></p>

<p>If you didn’t request a password change please notify admin@bridgekin.com.</p>

<p>Cheers,<br>
The Bridgekin Team</p>
