<p>Hi <%= @waitlist_user.fname.capitalize %>,</p>

<p><%= @user.fname.capitalize %> has sent you an exclusive invitation to
  be a part of their trusted network on Bridgekin and has a business opportunity
  they’d like to privately share with you. We’re currently reviewing your
  invitation request and you should receive an email with your private
  invitation link shortly.</p>

<p>Cheers,<br>
The Bridgekin Team</p>
