<p>Hi <%= @waitlist_user.fname.capitalize %>,</p>

<p>Thanks for joining our waitlist! We appreciate your interest and will let you know once we begin accepting users from our waitlist.</p>

<p>Have a great day!</p>

<p>Cheers,<br>
The Bridgekin Team</p>
