<p>Hi <%= @waitlist_user.fname.capitalize %>,</p>

<% if @body.nil? %>
  <p><%= @user.fname.capitalize %> is a member of our private Bridgekin network
    and referred you to be a part of our community. We saw that you had signed up
    for our waitlist, but since we’re currently invite-only, <%= @user.fname.capitalize %>
    referring you is a good thing! We’ll let you know once we begin accepting referred users.
  </p>
<% else %>
  <p><%= @body %></p>
<% end %>

<p>Have a great day!</p>

<p>Cheers,<br>
The Bridgekin Team<br>
<a href='https://bridgekin.com/'>Bridgekin.com</a></p>
